.container {
	width: 100%;
	height: 200px;
	background-color: var(--gray-700);

	display: flex;
	align-items: center;
	justify-content: center;
}

.container img {
	margin-right: 1rem;
	width: auto;
	height: 60px;
}

.container span {
	font-size: 2.7rem;
	font-weight: bold;
}

.redBrick {
	color: var(--red-brick);
}

.blueDark {
	color: var(--blue-dark);
}
